html,
body {
  margin: 0;
  padding: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  background-color: white;
 
background: rgba(226,226,226,1);
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );

}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color:white;
  transition: color 0.2s;
}

.bm-item:hover {
  color: rgb(172, 169, 169);
}

.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 15px;
  left: 36px;
  top: 20px;
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 20px;
  width: 24px;
}

.bm-cross {
  background: black;
}

.bm-menu {
  background:#343a40;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-wrap {
  margin-left: 0px !important
}

.bm-morph-shape {
  fill: black;
}

.bm-item-list {
  color: #ffffff;
}

.bm-overlay {
  background: black;
}

.container-fluid{
  padding: 0px !important
}


.chartjs-render-monitor{
  height: 400px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.login{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}


.border-my{
  border-radius: 30% !important;
}

.full {
  width: 100%;    
}
.gap {
height: 30px;
width: 100%;
clear: both;
display: block;
}
.footer {
background: #101111;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #DDDDDD;
}
.footer p {
margin: 0;
}
.footer img {
max-width: 100%;
}
.footer h3 {
color: white;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 0px;
text-transform: uppercase;
margin-bottom: 15px;
}

.footer h4 {
color: white;
font-size: 2em;
font-weight: 600;
line-height: 38px;
padding: 40px 0 10px;
font-family: cursive;
font-weight: lighter
}

.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 0px;
color: #7F8C8D;
padding: 0 0 8px 0;
}

.email{
border-bottom: 3px solid #fff;
}
.footer ul li a {
padding: 0 0 12px 0;
display: block;
}
.footer a {
color: white;
font-weight: lighter;
}

.footer p {
color: white;
font-weight: lighter;

}

.footer a:hover {
text-decoration:none;
font-weight: bold;
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}

.bg-gray {
background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
box-shadow: 0 1px 0 #B4B3B3;
}

.footer a {
color: #78828D
}

.footer-bottom {
margin-top: 2em;
border-top: 1px solid #DDDDDD;
border-bottom: transparent;
padding-top: 20px;
padding-bottom: 10px;
}
.footer-bottom p.pull-left {
padding-top: 6px;
font-size: 0.75em
}

